<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row mt-4">
            <div class="col-8 offset-2">
                <h1>Edit Listing</h1>

                <form method="post" action="/listings/<%= listing._id %>?_method=PUT" novalidate
                    class="needs-validation">

                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control"
                            required>
                        <div class="valid-feedback">Title looks good!</div>
                        <div class="invalid-feedback">Please enter a valid title</div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" class="form-control"
                            required><%= listing.description %></textarea>
                        <div class="valid-feedback">Description looks good!</div>
                        <div class="invalid-feedback">Please enter a valid description</div>
                    </div>

                    <div class="mb-3">
                        <label for="url" class="form-label">URL</label>
                        <input type="text" name="listing[url]" value="<%= listing.url %>" class="form-control" required>
                        <div class="valid-feedback">Image URL looks good!</div>
                        <div class="invalid-feedback">Please enter a valid valid image url</div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="listing[price]" value="z" class="form-control"
                                required>
                            <div class="valid-feedback">Price looks good!</div>
                            <div class="invalid-feedback">Please enter a valid price</div>
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]" value="<%= listing.country %>"
                                class="form-control" required>
                            <div class="valid-feedback">Country Name looks good!</div>
                            <div class="invalid-feedback">Please enter a country name</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control"
                            required>
                        <div class="valid-feedback">Location looks good!</div>
                        <div class="invalid-feedback">Please enter a location</div>
                    </div>

                    <button class="btn btn-primary mb-4 mt-3 edit-btn">Edit</button>
                </form>
            </div>
        </div>

    </body>